@model BiblioVelo.Services.Models.FeeAdjustModel

@{
    ViewBag.Title = "EditFee";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], select, textarea {
        margin-left: 248px;
        margin-top: -30px;
    }

    .col-md-2 {
        width: 20.666667%;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BiblioVélo Admin Fee Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        <div class="form-group">
            @Html.LabelFor(model => model.BookingFeeRenter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingFeeRenter, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"@*, @style = "margin-left: 56px;"*@ }
           })
                @Html.ValidationMessageFor(model => model.BookingFeeRenter, "", new { @class = "text-danger", @style = "margin-left: 269px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookingFeeOwner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingFeeOwner, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"@*, @style = "margin-left: 56px;"*@ }
           })
                @Html.ValidationMessageFor(model => model.BookingFeeOwner, "", new { @class = "text-danger", @style = "margin-left: 269px;" })
            </div>
        </div>
        <br />
        <hr />
        <h4>BiblioVélo Insurance Fee Details</h4>
        <hr />




        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceFor1Day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsuranceFor1Day, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"@*, @style = "margin-left: 56px;"*@ }
           })
                @Html.ValidationMessageFor(model => model.InsuranceFor1Day, "", new { @class = "text-danger", @style = "margin-left: 269px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceFor2to3Days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsuranceFor2to3Days, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"@*, @style = "margin-left: 56px;"*@ }
           })
                @Html.ValidationMessageFor(model => model.InsuranceFor2to3Days, "", new { @class = "text-danger", @style = "margin-left: 269px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceFor4to6Days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsuranceFor4to6Days, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"@*, @style = "margin-left: 56px;"*@ }
           })
                @Html.ValidationMessageFor(model => model.InsuranceFor4to6Days, "", new { @class = "text-danger", @style = "margin-left: 269px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceFor7to10Days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsuranceFor7to10Days, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"@*, @style = "margin-left: 56px;"*@ }
           })
                @Html.ValidationMessageFor(model => model.InsuranceFor7to10Days, "", new { @class = "text-danger", @style = "margin-left: 269px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceForMoreThan10Days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsuranceForMoreThan10Days, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"@*, @style = "margin-left: 56px;"*@ }
           })
                @Html.ValidationMessageFor(model => model.InsuranceForMoreThan10Days, "", new { @class = "text-danger", @style = "margin-left: 269px;" })
            </div>
        </div>


        <div style="margin-left: 173px;color:#DE354B;font-weight: bold;">Note: All values are in percent except Booking fee to Renter(in £)</div>
        <div class="form-group" style="margin-top: 17px;">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="SAVE" class="inner-hdr-btn" style="padding: 11px 41px;float:none;" />


            </div>
        </div>
    </div>}
@*<div class="form-group" style="margin-top: 15px;">
    <div class="col-md-offset-2 col-md-10">*@

<input type="submit" value="CANCEL" onclick="window.location.href = '@Url.Action("Index", "FeeAdjust")';" class="inner-hdr-btn" style="padding: 11px 36px;float:none;margin-left: 172px;" />
@*</div></div>*@

<script>


            $("#btnBackToList").click(function () {
                debugger;
                window.location.href = '@Url.Action("Index", "FeeAdjust")';
            });



</script>
