@model BiblioVelo.Areas.Admin.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}
<link rel="shortcut icon" type="image/png" href="~/Images/favicon.ico" />
@Scripts.Render("~/bundles/modernizr")
<link rel="shortcut icon" type="image/png" href="~/Images/favicon.ico" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/Developer.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="~/Content/pstyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/jquery.paginate.js"></script>
<div class="right-outer-content" style="padding-left:0 !important;">
    <div class="right-content-main">
        <div class="login-inner-outer">
            <div class="login-form-inner">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-header">
                        Change Password
                    </div>
                    <div class="input-feild-outer">
                        <div class="input-section">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })<span class="spnTestimonial" style="margin:9px 0 0 0;">*</span>
                            <div class="input-feild pdngl130">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="input-section">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })<span class="spnTestimonial" style="margin:9px 0 0 0px;">*</span>
                            <div class="input-feild pdngl130">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password", @maxlength = "20" })
                                @Html.ValidationMessageFor(m => m.Password)
                                @Html.ValidationSummary(true)
                            </div>
                        </div>
                        <div class="input-section">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })<span class="spnTestimonial" style="margin:9px 0 0 0px;">*</span>
                            <div class="input-feild pdngl130">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @maxlength = "20" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="input-section">
                            <input type="submit" value="SUBMIT" class="login-btn">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<style>
    form {
        height: 330px;
    }
</style>

<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' == "Success") {
            swal({
                title: 'Success',
                text: 'Password changed successfully',
                type: 'success'
            },
        function () {
            window.location.href = '@Url.Action("ResetPassword", "Account")';
        });
        }

        if ('@ViewBag.Message' == "Error") {
            swal({
                title: 'error',
                text: 'Email does not exist',
                type: 'error'
            },
        function () {
            window.location.href = '@Url.Action("ResetPassword", "Account")';
        });
        }
        $('#ulAdminMenu li').removeClass('selected');
        $("#lstpassword").addClass('selected');
    });
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")


